cachetools==5.5.2
certifi==2025.6.15
charset-normalizer==3.4.2
google-api-core==2.25.1
google-api-python-client==2.173.0
google-auth==2.40.3
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.2
googleapis-common-protos==1.70.0
gspread==6.2.1
httplib2==0.22.0
idna==3.10
oauth2client==4.1.3
oauthlib==3.3.0
proto-plus==1.26.1
protobuf==6.31.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
pygsheets @ https://github.com/nithinmurali/pygsheets/archive/staging.zip#sha256=a0c42b7dc703039df6c835feed416187fc0c4404974262302f32f69afaeb85ca
pyparsing==3.2.3
pyTelegramBotAPI==4.27.0
requests==2.32.4
requests-oauthlib==2.0.0
rsa==4.9.1
six==1.17.0
uritemplate==4.2.0
urllib3==2.5.0
